@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-hex: #fff;
  --background-end-rgb: 255, 255, 255;
  --headers-hex: #014235;
  --root-background: #faf5eb;
  --article-background: #fffdf7;
  --text-description: #858f85;
  --text-location: #1d2927;
  --text--green: #014235;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--root-background);
  font-family: var(--font-libre);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headers-hex);
}

a {
  font-family: var(--font-lato);
}

.lato {
  font-family: var(--font-lato);
  font-weight: 300;
}

p {
  font-size: 1rem;
}

@media (width <= 600px) {
  :root {
    font-size: 12px;
  }
}
