/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./styles/banner.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.banner_container__qkr1e {
  padding: 3rem 0;
  background-color: var(--text--green);
  width: 100vw;
  color: var(--text--quotes);
  display: flex;
  align-items: center;
}

.banner_margin__BwFHu {
  width: 85%;
  max-width: 730px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner_quote__Md3Yo {
  font-size: 1.25rem;
  margin-bottom: 4rem;
  text-align: center;
  line-height: 1.5;
}

.banner_guest__9UOlg {
  margin-bottom: 3rem;
  text-align: center;
}

.banner_button___DlU6 {
  padding: 0.5rem 1.5rem;
  background-color: #35685e;
}

@media (width >= 1024px) {
  .banner_quotes__container__rGZSp {
    min-height: 230px;
  }
}

/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./styles/HomeSlide.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
* {
  box-sizing: border-box;
}
.slider {
  width: 100vw;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;

  overflow-x: auto;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  background: #014235;
  border-radius: 10px;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  height: 35vh;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  color: #000;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.slide__img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (width >= 1024px) {
  .slider {
    width: 65vw;
  }

  .slides > div {
    height: 60vh;
  }
}

/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./styles/bookingCard.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.bookingCard_container__iOb0x {
  padding-bottom: 5rem;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.bookingCard_card__tCwLK {
  display: flex;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  max-width: 625px;
  margin: 0 auto;
}

.bookingCard_img__8CB12 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bookingCard_img__container__aC2df {
  width: 100%;
}

.bookingCard_aside__container__pz4MC {
  color: var(--text-description);
  background-color: #fff;
  width: 100%;
  padding: 2rem;
}

.bookingCard_aside__location__ZSZPO {
  font-family: var(--font-lato);
  font-weight: 300;
  margin-bottom: 1rem;
}

.bookingCard_aside__header__QqvKq {
  font-size: 1.125rem;
}

.bookingCard_aside__button__G51k3 {
  padding: 0.5rem 2rem;
  color: #fff;
  background-color: var(--text--green);
  font-family: var(--font-lato);
}

.bookingCard_aside__description__knjoX {
  margin-bottom: 2rem;
  max-width: 200px;
}

@media (width >= 1200px) {
  .bookingCard_container__iOb0x {
    flex-direction: row;
  }

  .bookingCard_aside__container__pz4MC {
    padding: 2rem;
  }
}

@media (width >= 1300px) {
  .bookingCard_aside__container__pz4MC {
    padding: 3rem;
  }

  .bookingCard_card__tCwLK {
    max-width: 100%;
  }
}

